html {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  
}
ol, ul {
	list-style: none;
}

/* END OF RESET*/

/*VARIABLES*/
:root {
  --very-dark-blue: hsla(229, 31%, 21%, 1);
  --grayish-blue: hsl(229, 8%, 60%);
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

}

/*END VARIABLES*/


header {
  width: 100%;
  background: darkgray;
  display: flex;
  flex-direction: row;
}

.logo {
  padding: 1rem;
}

.nav-toggle-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle {
  z-index: 10;
  margin-left: auto;
  padding: 1rem;
  
}
.fa-bars {
  color: var(--very-dark-blue);
}

.fa-times {
  color: white;
}

.main-nav{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: hsla(229, 31%, 21%, .7);
  overflow-y: hidden;
  transition: 0.5s;
  color: white;
}

.main-nav-list {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.open {
  height: 100%;
}






 button:focus {
    outline: none;
  }
  
  .faq {
    
  }

  .slide-btn {
    text-align: left;
    padding: 2rem;
    width: 50%;
  }
  
  .slide-btn:hover, .active{
    cursor: pointer;
    transition: .2s;
  }
  
  .slide-content {
    padding: 0 2rem;    
    overflow: hidden;
    max-height: 0px;
    transition:  0.2s ease-out;
    cursor: default
  }