html {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  max-width: 100%;
}
ol, ul {
	list-style: none;
}

/* END OF RESET*/

/*VARIABLES*/
:root {
  --very-dark-blue: hsla(229, 31%, 21%, 1);
  --grayish-blue: hsl(229, 8%, 60%);
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

}

/*END VARIABLES*/


header {
  background: white;
  display: flex;
  margin-bottom: 3rem;
}

.logo {
  padding: 1.3rem 1.5rem;
  z-index: 10;
}
.st0 {
  fill: var(--very-dark-blue);
}
.st1 {
  fill: var(--soft-blue);
}

.nav-logo-active {
  fill: white;
}

.nav-toggle-wrapper {
  width: 100%;
  display: flex;
  align-items: center;

}

.nav-toggle {
  z-index: 10;
  margin-left: auto;  
  padding-right: 3rem ;

}

.main-nav{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: hsla(229, 31%, 21%, .7);
  overflow-y: hidden;
  transition: 0.5s;
  color: white;
}

.main-nav-list {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.open {
  height: 100%;
}

main {
  text-align: center;
}

.hero-section {

}

.hero-figure {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.hero-image {
  z-index: -1;
  width: 90%;
  margin: 0 auto;
}

.background-shape {
  position: absolute;
  z-index: -2;
  width: 80%;
  height: 14rem;
  right: 0;
  top: 22%;
  background-color: var(--soft-blue);
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}





 button:focus {
    outline: none;
  }
  
  .faq {
    
  }

  .slide-btn {
    text-align: left;
    padding: 2rem;
    width: 50%;
  }
  
  .slide-btn:hover, .active{
    cursor: pointer;
    transition: .2s;
  }
  
  .slide-content {
    padding: 0 2rem;    
    overflow: hidden;
    max-height: 0px;
    transition:  0.2s ease-out;
    cursor: default
  }