html {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  
}
ol, ul {
	list-style: none;
}

.hidden {
display: none;
}
/* END OF RESET*/

/*VARIABLES*/
:root {
  --very-dark-blue: hsl(229, 31%, 21%);
  --grayish-blue: hsl(229, 8%, 60%);
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

}

/*END VARIABLES*/


header {
  width: 100%;
  background: darkgray;
  display: flex;
  flex-direction: column;
}  

.nav-toggle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0; 
}

h1.logo {
  padding-left: 2rem;
}

.nav-toggle {
  padding-right: 2rem;
  font-size: 1.3rem;
  margin-left: auto;
}

.nav-toggle:hover {
  cursor: pointer;
}

.menu-close {

}

.main-nav {


}

.main-nav-list {

}

.main-nav-list-item {
  border-top: 1px solid white;
  padding: 1rem;
}






 button:focus {
    outline: none;
  }
  
  .faq {
    
  }

  .slide-btn {
    text-align: left;
    padding: 2rem;
    width: 50%;
  }
  
  .slide-btn:hover, .active{
    cursor: pointer;
    transition: .4s;
  }
  
  .slide-content {
    padding: 0 2rem;    
    overflow: hidden;
    max-height: 0px;
    transition:  0.4s ease-out;
    cursor: default
  }